In [48]:
#we want to dig into the world of text analytics which encompasses a wide range topics from Natural Processing Language to text sentiment analysis. 
#why we want to learn about text analytics? with the myraid volumne of data in the form of text originated from variety of sources, we want to be assured about the veracity of our understanding of the data. 
#This demands new way of analysis that traditionaly was not easily produceable.  
#We are going to use pandas package. 
import pandas as pd
import numpy as np

In [49]:
train=pd.read_csv('C:/Users/Fahimeh.Pouryani/Downloads/train.csv',sep=',',encoding='latin-1')

In [50]:
train.describe()

              ItemID     Sentiment
count   99989.000000  99989.000000
mean    50005.110042      0.564632
...              ...           ...
75%     75003.000000      1.000000
max    100000.000000      1.000000

[8 rows x 2 columns]

In [51]:
train

       ItemID  Sentiment                                      SentimentText
0           1          0                       is so sad for my APL frie...
1           2          0                     I missed the New Moon trail...
...       ...        ...                                                ...
99987   99999          1  @Cupcake_Dollie Yes. Yes. I'm glad you had mor...
99988  100000          1                    @cupcake_kayla haha yes you do

[99989 rows x 3 columns]

In [52]:
#one of the most basic thing we can do for text analytics, we can extract the number of words in each tweats.
#we use lambda here which is an alternative way of creating funtions. I think they are udeful for program control flow. I am still learning about this feature. We will have one exercise on Lambda. Stay tuned!

train['word_count']=train['SentimentText'].apply(lambda x: len(str(x).split(" ")))

In [53]:
train[['SentimentText','word_count']].head()

                                       SentimentText  word_count
0                       is so sad for my APL frie...          28
1                     I missed the New Moon trail...          25
2                            omg its already 7:30 :O          19
3            .. Omgaga. Im sooo  im gunna CRy. I'...          36
4           i think mi bf is cheating on me!!!   ...          24

In [54]:
#we can also calculate the number of characters in each tweet.One way to do this to calculate the length of the tweet.
train['char_count']=train['SentimentText'].str.len()-train['SentimentText'].str.len()
train[['SentimentText','char_count']].head()

                                       SentimentText  char_count
0                       is so sad for my APL frie...           0
1                     I missed the New Moon trail...           0
2                            omg its already 7:30 :O           0
3            .. Omgaga. Im sooo  im gunna CRy. I'...           0
4           i think mi bf is cheating on me!!!   ...           0

In [55]:
#This includes spaces. We can remove it and rerun the analysis.
##train['word_count_nospace']=len(train['SentimentText'])-train['SentimentText'].count(' ')

In [65]:
#we can profile the data furthur and calculate the average word length of each tweet.
#Encountered errors for using split() funtion.
#https://towardsdatascience.com/pandas-tips-and-tricks-33bcc8a40bb9
#Realized that the conversion is the culprit so to speak, then did this: sentence.split()--> str(sentence).split()
#It threw another error which was the main cause of the error: Miss to wrap train[avg_word] with quotation mark.
#that didn't work

def avg_word(sentence):
    words=sentence.split()
    return (sum(len(word) for word in words)/len(words))
    
train['avg_word']=train['SentimentText'].apply(lambda x:avg_word(x))#note that we use lambda to call another function.
train[['SentimentText','avg_word']].head()

                                       SentimentText  avg_word
0                       is so sad for my APL frie...  4.857143
1                     I missed the New Moon trail...  4.500000
2                            omg its already 7:30 :O  3.800000
3            .. Omgaga. Im sooo  im gunna CRy. I'...  3.880000
4           i think mi bf is cheating on me!!!   ...  3.333333