In [67]:
#we want to dig into the world of text analytics which encompasses a wide range topics from Natural Processing Language to text sentiment analysis. 
#why we want to learn about text analytics? with the myraid volumne of data in the form of text originated from variety of sources, we want to be assured about the veracity of our understanding of the data. 
#This demands new way of analysis that traditionaly was not easily produceable.  
#We are going to use pandas package. 
import pandas as pd
import numpy as np

In [68]:
train=pd.read_csv('C:/Users/Fahimeh.Pouryani/Downloads/train.csv',sep=',',encoding='latin-1')

In [69]:
train.describe()

              ItemID     Sentiment
count   99989.000000  99989.000000
mean    50005.110042      0.564632
std     28865.894393      0.495808
min         1.000000      0.000000
25%     25009.000000      0.000000
50%     50006.000000      1.000000
75%     75003.000000      1.000000
max    100000.000000      1.000000

In [70]:
train

       ItemID  Sentiment                                      SentimentText
0           1          0                       is so sad for my APL frie...
1           2          0                     I missed the New Moon trail...
2           3          1                            omg its already 7:30 :O
3           4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4           5          0           i think mi bf is cheating on me!!!   ...
5           6          0                  or i just worry too much?
6           7          1                 Juuuuuuuuuuuuuuuuussssst Chillin!!
7           8          0         Sunny Again        Work Tomorrow  :-|  ...
8           9          1        handed in my uniform today . i miss you ...
9          10          1           hmmmm.... i wonder how she my number @-)
10         11          0                      I must think about positive..
11         12          1        thanks to all the haters up in my face a...
12         13          0                     this weekend has sucked so far
13         14          0             jb isnt showing in australia any more!
14         15          0                               ok thats it you win.
15         16          0      &lt;-------- This is the way i feel right ...
16         17          0      awhhe man.... I'm completely useless rt no...
17         18          1      Feeling strangely fine. Now I'm gonna go l...
18         19          0       HUGE roll of thunder just now...SO scary!!!!
19         20          0      I just cut my beard off. It's only been gr...
20         21          0                               Very sad about Iran.
21         22          0                                      wompppp wompp
22         23          1      You're the only one who can see this cause...
23         24          0     &lt;---Sad level is 3. I was writing a mass...
24         25          0     ...  Headed to Hospitol : Had to pull out o...
25         26          0     BoRinG   ): whats wrong with him??     Plea...
26         27          0     can't be bothered. i wish i could spend the...
27         28          0     Feeeling like shit right now. I really want...
28         29          1              goodbye exams, HELLO ALCOHOL TONIGHT
29         30          0     I didn't realize it was THAT deep. Geez giv...
...       ...        ...                                                ...
99959   99971          0  @CT415 @UCLA_Bruin  it made me sad too!  that ...
99960   99972          1  @CT415 I agree. I think they all have that fet...
99961   99973          0  @ct415 I hope it's not too serious of an injur...
99962   99974          0  @ctabita if it's any consolation, this weekend...
99963   99975          1                        @ctayah got your back, yo!
99964   99976          1  @ctaylor0127 I can't wait to see that movie. E...
99965   99977          1  @ctaylor10127 @smelby I am excited and a littl...
99966   99978          0  @ctb1221 yeah  sorry.going to a concert that n...
99967   99979          1  @ctcash @buildingateam @diabetescure @chocolat...
99968   99980          1  @ctdesign87 im so glad you went to china town ...
99969   99981          0                                 @CTerry1985  Sorry
99970   99982          0                @CTerry1985 damn it, dont have sky
99971   99983          0  @CTerry1985 That's the thing; the new raft of ...
99972   99984          1                                          @cthagod
99973   99985          1                              @ctham  #FollowFriday
99974   99986          0  @ctham #awaresg You are not wrong. But from a ...
99975   99987          0  @ctham @mommyfizz cuz you big burly man.  haha...
99976   99988          1  @ctham @Wilsurn Trying to get a wider range of...
99977   99989          1    @ctham Haha I love the passion in your support
99978   99990          1  @cthulhullahoop That sucks...I like living in ...
99979   99991          1  @cunningstunts till i can go home been here ti...
99980   99992          1         @cunningstunts22 afternoon jim hows you  x
99981   99993          0  @cup_a_tea The foot is really bad. Like the wo...
99982   99994          1  @Cup_Of_Katy Have fun doing health &amp; safet...
99983   99995          0  @cupati It took me waaay too long to get your ...
99984   99996          0  @Cupcake  seems like a repeating problem   hop...
99985   99997          1  @cupcake__ arrrr we both replied to each other...
99986   99998          0                     @CuPcAkE_2120 ya i thought so
99987   99999          1  @Cupcake_Dollie Yes. Yes. I'm glad you had mor...
99988  100000          1                    @cupcake_kayla haha yes you do

[99989 rows x 3 columns]

In [71]:
#one of the most basic thing we can do for text analytics, we can extract the number of words in each tweats.
#we use lambda here which is an alternative way of creating funtions. I think they are udeful for program control flow. I am still learning about this feature. We will have one exercise on Lambda. Stay tuned!

train['word_count']=train['SentimentText'].apply(lambda x: len(str(x).split(" ")))

In [72]:
train[['SentimentText','word_count']].head()

                                       SentimentText  word_count
0                       is so sad for my APL frie...          28
1                     I missed the New Moon trail...          25
2                            omg its already 7:30 :O          19
3            .. Omgaga. Im sooo  im gunna CRy. I'...          36
4           i think mi bf is cheating on me!!!   ...          24

In [73]:
#the objective of running analytics on any kinds of data is to derive meaningful information about the data such as the didstribution of a particular pattern.
#hence first we evaluate the data to understand the profiling charactristics of the content.
#we start with data profiling. extract the information about the basic details of the data.
#we can also calculate the number of characters in each tweet.One way to do this to calculate the length of the tweet.
train['char_count']=train['SentimentText'].str.len()-train['SentimentText'].str.len()
train[['SentimentText','char_count']].head()

                                       SentimentText  char_count
0                       is so sad for my APL frie...           0
1                     I missed the New Moon trail...           0
2                            omg its already 7:30 :O           0
3            .. Omgaga. Im sooo  im gunna CRy. I'...           0
4           i think mi bf is cheating on me!!!   ...           0

In [74]:
#This includes spaces. We can remove it and rerun the analysis.
##train['word_count_nospace']=len(train['SentimentText'])-train['SentimentText'].count(' ')

In [75]:
#we can profile the data furthur and calculate the average word length of each tweet.
#Encountered errors for using split() funtion.
#https://towardsdatascience.com/pandas-tips-and-tricks-33bcc8a40bb9
#Realized that the conversion is the culprit so to speak, then did this: sentence.split()--> str(sentence).split()
#It threw another error which was the main cause of the error: Miss to wrap train[avg_word] with quotation mark.
#that didn't work

def avg_word(sentence):
    words=sentence.split()
    return (sum(len(word) for word in words)/len(words))
    
train['avg_word']=train['SentimentText'].apply(lambda x:avg_word(x))#note that we use lambda to call another function.
train[['SentimentText','avg_word']].head()

                                       SentimentText  avg_word
0                       is so sad for my APL frie...  4.857143
1                     I missed the New Moon trail...  4.500000
2                            omg its already 7:30 :O  3.800000
3            .. Omgaga. Im sooo  im gunna CRy. I'...  3.880000
4           i think mi bf is cheating on me!!!   ...  3.333333

In [76]:
#Stop Words are words which do not contain important significance to be used in Search Queries--http://xpo6.com/list-of-english-stop-words/wikipedia
#how to spot them and remove them
#we are going to import stopwords from  NLTK, which is a basic NLP library in python.
from nltk.corpus import stopwords

In [77]:
stop=stopwords.words('english')
train['stopword']=train['SentimentText'].apply(lambda x:len([x for x in x.split() if x in stop]))
train[['SentimentText','stopword']].head()

                                       SentimentText  stopword
0                       is so sad for my APL frie...         4
1                     I missed the New Moon trail...         1
2                            omg its already 7:30 :O         1
3            .. Omgaga. Im sooo  im gunna CRy. I'...         7
4           i think mi bf is cheating on me!!!   ...         3

In [78]:
train['hashtag']=train['SentimentText'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['SentimentText','hashtag']].head()

                                       SentimentText  hashtag
0                       is so sad for my APL frie...        0
1                     I missed the New Moon trail...        0
2                            omg its already 7:30 :O        0
3            .. Omgaga. Im sooo  im gunna CRy. I'...        0
4           i think mi bf is cheating on me!!!   ...        0

In [79]:
train['isitdigit']=train['SentimentText'].apply(lambda x:len([x for x in x.split() if x.isdigit()]))
train[['SentimentText','isitdigit']].head()

                                       SentimentText  isitdigit
0                       is so sad for my APL frie...          0
1                     I missed the New Moon trail...          0
2                            omg its already 7:30 :O          0
3            .. Omgaga. Im sooo  im gunna CRy. I'...          1
4           i think mi bf is cheating on me!!!   ...          0

In [80]:
train['isuppercase']=train['SentimentText'].apply(lambda x:len([x for x in x.split() if x.isupper()]))
train[['SentimentText','isuppercase']].head()

                                       SentimentText  isuppercase
0                       is so sad for my APL frie...            1
1                     I missed the New Moon trail...            1
2                            omg its already 7:30 :O            1
3            .. Omgaga. Im sooo  im gunna CRy. I'...            1
4           i think mi bf is cheating on me!!!   ...            1

In [81]:
#https://stackoverflow.com/questions/20989115/collapse-and-lambda-s-joins-split-or-lambda-s-s
#next we try to clean up the data and only retain the data that could yield meaningful insight about the text.
#we first need to lower case all the words in the text
train['SentimentText']=train['SentimentText'].apply(lambda x:" ".join(x.lower() for x in x.split()))
train['SentimentText'].head()

0             is so sad for my apl friend.............
1                     i missed the new moon trailer...
2                              omg its already 7:30 :o
3    .. omgaga. im sooo im gunna cry. i've been at ...
4               i think mi bf is cheating on me!!! t_t
Name: SentimentText, dtype: object

In [83]:
#remove trivials like punctuation
train['SentimentText']=train['SentimentText'].str.replace(['\w\s'],'')
train['SentimentText'].head()

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [65]:
#I am convinced that I should have an exercise focused on lambda. It is very powerful, yet not very intuitive. 
#in this case lambda x: " ".join(x for x in x.split(), after a long search I figured out that this is putting everything back together, implicated by " ".join(...).whew!
stop=stopwords.words('english')
train['SentimentText']=train['SentimentText'].apply(lambda x:" ".join(x for x in x.split() if x not in stop))
train['SentimentText'].head()

AttributeError: 'float' object has no attribute 'split'

In [66]:
#the syntax above throwing me errors. what's wrong? 
#it turns out that the removal created some NAN in the data.
#we need to clean that up first
#train=train[train['SentimentText'].notnull()]
train

,ItemID,Sentiment,SentimentText,word_count,char_count,avg_word,stopword,hashtag,isitdigit,isuppercase
0,1,0,NaN,28,0,4.857143,4,0,0,1
1,2,0,NaN,25,0,4.500000,1,0,0,1
2,3,1,NaN,19,0,3.800000,1,0,0,1
3,4,0,NaN,36,0,3.880000,7,0,1,1
4,5,0,NaN,24,0,3.333333,3,0,0,1
5,6,0,NaN,23,0,3.333333,4,0,0,0
6,7,1,NaN,9,0,16.500000,0,0,0,0
7,8,0,NaN,28,0,4.857143,0,0,0,1
8,9,1,NaN,16,0,3.800000,4,0,0,0
9,10,1,NaN,14,0,4.125000,4,0,0,0
10,11,0,NaN,11,0,5.000000,1,0,0,1
11,12,1,NaN,18,0,3.666667,7,0,0,0
12,13,0,NaN,12,0,4.166667,3,0,0,0
13,14,0,NaN,12,0,4.571429,2,0,0,0
14,15,0,NaN,10,0,3.200000,2,0,0,0
15,16,0,NaN,13,0,4.444444,3,0,0,0
16,17,0,NaN,19,0,5.533333,4,0,0,1
17,18,1,NaN,17,0,5.076923,3,0,0,0
18,19,0,NaN,11,0,5.428571,2,0,0,1
19,20,0,NaN,30,0,4.115385,11,0,0,1
20,21,0,NaN,8,0,4.250000,1,0,0,0
21,22,0,NaN,6,0,6.000000,0,0,0,0
22,23,1,NaN,27,0,4.086957,14,0,0,0
23,24,0,NaN,29,0,4.192308,9,0,0,1
24,25,0,NaN,29,0,4.240000,6,0,0,3
25,26,0,NaN,21,0,5.000000,1,0,0,0
26,27,0,NaN,24,0,3.952381,10,0,0,0
27,28,0,NaN,28,0,4.083333,7,0,1,2
28,29,1,NaN,9,0,6.400000,0,0,0,3
29,30,0,NaN,17,0,4.071429,5,0,0,2
...,...,...,...,...,...,...,...,...,...,...
99959,99971,0,NaN,15,0,4.416667,5,0,0,1
99960,99972,1,NaN,12,0,4.000000,4,0,0,3
99961,99973,0,NaN,21,0,4.352941,6,0,0,1
99962,99974,0,NaN,15,0,5.214286,7,0,0,0
99963,99975,1,NaN,6,0,4.400000,1,0,0,0
99964,99976,1,NaN,10,0,4.666667,2,0,0,1
99965,99977,1,NaN,13,0,4.833333,3,0,0,2
99966,99978,0,NaN,12,0,6.300000,3,0,0,0
99967,99979,1,NaN,17,0,7.600000,4,2,0,0
99968,99980,1,NaN,21,0,4.650000,6,0,0,0
99969,99981,0,NaN,3,0,8.000000,0,0,0,0
99970,99982,0,NaN,7,0,4.833333,1,0,0,0
99971,99983,0,NaN,19,0,4.222222,8,1,0,0
99972,99984,1,NaN,2,0,8.000000,0,0,0,0
99973,99985,1,NaN,3,0,9.500000,0,1,0,0
99974,99986,0,NaN,28,0,4.111111,12,1,1,1
99975,99987,0,NaN,9,0,6.500000,1,0,0,0
99976,99988,1,NaN,21,0,4.750000,5,1,0,0
99977,99989,1,NaN,10,0,4.222222,3,0,0,1
99978,99990,1,NaN,16,0,5.733333,4,0,0,1
99979,99991,1,NaN,12,0,4.454545,4,0,0,0
99980,99992,1,NaN,7,0,6.000000,1,0,0,0
99981,99993,0,NaN,19,0,4.277778,4,0,0,1
99982,99994,1,NaN,16,0,4.933333,3,0,0,2
99983,99995,0,NaN,20,0,4.578947,8,0,0,1
99984,99996,0,NaN,15,0,5.333333,3,0,0,0
99985,99997,1,NaN,27,0,4.307692,12,0,0,0
99986,99998,0,NaN,6,0,5.000000,2,0,0,0
99987,99999,1,NaN,12,0,4.545455,4,0,0,0
99988,100000,1,NaN,6,0,5.200000,2,0,0,0

In [47]:
stop=stopwords.words('english')
train['SentimentText']=train['SentimentText'].apply(lambda x:" ".join(x for x in x.split() if x not in stop))
train['SentimentText'].head()

Series([], Name: SentimentText, dtype: float64)

In [48]:
train['SentimentText']

Series([], Name: SentimentText, dtype: float64)

In [49]:
train

Empty DataFrame
Columns: [ItemID, Sentiment, SentimentText, word_count, char_count, avg_word, hashtag, stopword, isitdigit, isuppercase]
Index: []